@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
:root {
  --background: rgb(247, 244, 244) ;  /* FCEFE9 F7F7FC*/
  --primaryColor: #007BFF; /* Titles/Links 007BFF */
  --navy: #343A40; /* Text */
  --coolGray: #CED4DA; /* Disable Text */
  --coralRed: #FF6B6B; /* Errors */
  --linearBlack: linear-gradient(111deg, #000000, #007BFF); /* Black to Gray */
}

@layer base {
  input, textarea, select { 
    outline: none!important;
  }
  button{
    cursor: pointer;
  }
}
/* Helper classes */
.flex-row-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;  
    padding-right: 3rem;

    /* Breakpoints */
    @media (min-width: 40rem) { /* 640px */
      max-width: 40rem;
    }

    @media (min-width: 48rem) { /* 768px */
      max-width: 48rem;
    }

    @media (min-width: 64rem) { /* 1024px */
      max-width: 64rem;
    }

    @media (min-width: 80rem) { /* 1280px */
      max-width: 80rem;
    }

    @media (min-width: 96rem) { /* 1536px */
      max-width: 96rem;
    }
  }
/* Helper classes */

body {
  background: #faf9f9;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
